body {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.search {
  height: 30px;
}

.content { 
  min-height: calc(100vh - 70px);
  max-height: calc(100vh - 70px);

  overflow-y: auto;
}

.pagination {
  height: 40px;
}