body{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15vh;
	flex-direction: column;
	user-select: none;
}
p{
	padding: 0;
	margin: 0;
}

.wrapper{
	display: flex;
	height: 100vh;
	flex-direction: column;
}

.inner{
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	width: 500px;
	height: 300px;
	margin: auto;
	background: #eee;
	position: relative;
}

.col{
	display: flex;
	width: 40px;
	justify-content: center;
	background: #0000ff;
	position: relative;
}

.col p{
	padding: 0;
	margin: 0;
	transform: translateY(-100%);
	position: absolute;
	color: #0000ff;
}

.line{
	display: flex;
	justify-content: flex-end;
	width: 100%;
	height: 0;
	position: absolute;
}

.line p{
	position: relative;
}

.line p span{
	padding-left: 1rem;
	position: absolute;
	width: max-content;
	top: -10px;
}
.max{
	border-bottom: 1px dotted green;
}
.min{
	border-bottom: 1px dotted red;
}
.avg{
	border-bottom: 1px dotted yellow;
}

/* CLOCK STYLES */

.clock{
	display: flex;
	width: 300px;
	height: 300px;
	margin: auto;
	background: #c8c8c8;
	box-shadow: inset 20px 20px 40px #fafafa, 25px 25px 60px #969696;
	border-radius: 50%;
	position: relative;
}
.clock::after{
	content: '';
	width: 20px;
	height: 20px;
	background: #969696;
	box-shadow: inset 2px 2px 4px #c8c8c8, 3px 3px 8px #646464;
	position: absolute;
	/* transform: translate(50%, 50%); */
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border-radius: 50%;
	z-index: 2;
}
.timeMarkers{
	display: flex;
	width: 7px;
	height: 320px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	position: absolute;
}
.timeMarker{
	display: flex;
	width: 100%;
	height: 20px;
	/* background: #939393; */
	background: rgba(100, 100, 100, .3);

}

.timeMarkerTop{
	align-self: flex-start;
}
.timeMarkerBottom{
	align-self: flex-end;
}
.timeMarker__2{
	transform: rotate(30deg);
}
.timeMarker__3{
	transform: rotate(60deg);
}
.timeMarker__4{
	transform: rotate(90deg);
}
.timeMarker__5{
	transform: rotate(120deg);
}
.timeMarker__6{
	transform: rotate(150deg);
}

.arrow{
	display: flex;
	align-items: flex-start;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 1;
}
.arrowHours{
	height: 200px;
	width: 6px;
	animation: hourArrow 43200s linear infinite;
}
.arrowHours span{
	display: flex;
	background: rgba(100, 100, 100, 0.5);
	box-shadow: 0 0 10px rgba(60, 60, 60, 0.5);
	/* border: 3px solid #646464; */
	width: 100%;
	height: 50%;
}
.arrowMinutes{
	height: 250px;
	width: 4px;
	animation: hourMinutes 3600s linear infinite;
}
.arrowMinutes span{
	display: flex;
	background: rgba(80, 80, 80, 0.5);
	box-shadow: 0 0 10px rgba(60, 60, 60, 0.5);
	/* border: 2px solid #505050; */
	width: 100%;
	height: 50%;
}
.arrowSeconds{
	height: 290px;
	width: 2px;
	animation: hourSeconds 60s linear infinite;
}
.arrowSeconds span{
	display: flex;
	background: rgba(60, 60, 60, 0.5);
	box-shadow: 0 0 10px rgba(60, 60, 60, 0.5);
	/* border: 1px solid #3c3c3c; */
	width: 100%;
	height: 50%;
}

.meridiem{
	position: absolute;
	right: 20%;
	bottom: 20%;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 0.8rem;
	color: rgb(90,90,90);
	text-shadow: 1px 1px 2px rgb(110,110,110);
}

.enterTime{
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: space-between;
	margin: auto;
}

.enterTime > *{
	
	padding: 1rem;
}

#time{
	position: absolute;
	bottom: 0;
	right: 0;
	
}

#time:checked+label[for=time] .arrowHours,
#time:checked+label[for=time] .arrowMinutes,
#time:checked+label[for=time] .arrowSeconds{
	animation-play-state: paused;
}

/* DOM */

.box{
	display: flex;
	width: 5vw;
	height: 5vh;
	background: #000;
	position: absolute;
	
}

.fild{
	display: flex;
	width: 300px;
	height: 300px;
	margin: auto;
	background: #eee;
	flex-wrap: wrap;
}
.cell{
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(100%/3 - 2px);
	border: 1px solid #000;
	font-size: 2rem;
	position: relative;
}

.zero::before{
	content: '';
	position: absolute;
	margin: auto;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 5px solid;
}

.cross::before{
	content: '';
	position: absolute;
	margin: auto;
	width: 60px;
	height: 5px;
	background: #000;
	transform: rotate(45deg);
}
.cross::after{
	content: '';
	position: absolute;
	margin: auto;
	width: 60px;
	height: 5px;
	background: #000;
	transform: rotate(-45deg);
}
