body{    
    display: flex;
    flex-wrap: wrap;
}
a{
    display: block;
    position: relative;
    width: max-content;
}

a img{
    width: 100%;
}

.btns{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    
}

a:hover .btns{
    display: flex;
}

.btn{
    width: 15px;
    height: 15px;
    font-size: 8px;
    cursor: pointer;
}
